body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

#selection-container, #quiz-container {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

#food-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#food-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

#submit-btn, #start-btn {
    padding: 10px 20px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 15px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    footer {
        padding: 18px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) {
    footer {
        padding: 20px;
        font-size: 20px;
    }
}




